<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="../assets/css/main.css" rel="stylesheet" type="text/css">
    <style>
        body {
            background-color: whitesmoke;
        }
        
        main {
            height: fit-content;
        }
    </style>

    <head>
        <title>msboujees 3D Lashes and human hair store</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <h5 class="navbar-brand offset-md-2 offset-sm-2" href="#" style="font-family:Lucida Bright;">
                MsBoujeeLashes
            </h5>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse offset-md-4" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <h6 class="nav-link"><a href="../">Home <span class="sr-only">(current)</span></a></h6>
                    </li>
                    <li class="nav-item">
                        <h6 class="nav-link"><a href="./category.html?cat=lashes">3D Lashes</a> </h6>
                    </li>
                    <li class="nav-item">
                        <h6 class="nav-link"><a href="./category.html?cat=lashes">Human Hair</a></h6>
                    </li>
                    <li class="nav-item">
                        <h6 class="nav-link"><a href="./about.html">About</a></h6>
                    </li>
                    <li class="nav-item">
                        <h6 class="nav-link"><a href="./login.html">Login</a></h6>
                    </li>
                </ul>
            </div>
        </nav>
        <main>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-6 bg-white shadow pt-1" id="imageContainer">
                        <img src="../assets/images/babygirl.jpeg" style="width:100%;height:360px;">
                        <div class="imagelist mt-3">
                            <img src="../assets/images/babygirl.jpeg" alt="">
                            <img src="../assets/images/babygirl.jpeg" alt="">
                            <img src="../assets/images/babygirl.jpeg" alt="">
                            <img src="../assets/images/babygirl.jpeg" alt="">
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3 mt-sm-3" id="btncontainer">
                        <div class="w-100 bg-white shadow pt-3 pl-2" id="priceConatiner">
                            <div class="d-flex mb-3 ml-3">
                                <i class="fa fa-dollar mr-1 text-muted" style="font-weight: bolder;"></i>
                                <h4 class="text-muted"><strong>175.00</strong></h4>
                            </div>
                            <div class="qty d-flex justify-content-around">
                                <button class="btn" onclick="up(100)"><i class="fa fa-plus-circle" style="font-size: large;"></i></button>
                                <input type="number" name="" id="qty" value="1" class="form-control input-sm counter">
                                <button class="btn" onclick="down(1)"><i class="fa fa-minus-circle" style="font-size: large;"></i></button>
                            </div>
                            <center>
                                <button class="btn btn-sm w-75 mt-4 text-success" id="btn"><a href=""><i class="fa fa-credit-card mr-1"></i>Buy Now</a></button>
                            </center>
                        </div>
                        <div class="w-100 bg-white  mt-3 shadow p-3" id="contactContainer">
                            <div class="d-flex justify-content-around">
                                <div class="circle bg-dark mr-1">
                                    <i class="fa fa-user-circle fa-2x text-info"></i>
                                </div>
                                <div class="">
                                    <h6 class="">MsBoujeeLashes</h6>
                                    <p class="bg-light"><i class="fa fa-envelope-open text-warning"></i><small class="text-muted"> Instant Call Response</small></p>
                                </div>
                            </div>
                            <center>
                                <div class="">
                                    <button class="btn btn-success mt-2 w-100 btn-sm" id="btn">
                                    <a href="tel:+">
                                    <i class="fa fa-phone fa-2x text-white"></i>
                                    </a>
                            </button>
                                    <button class="btn btn-sm w-100 mt-2 text-success" data-toggle="modal" data-target="#exampleModalLong" id="btn"><i class="fa fa-envelope-o mr-1"></i>Message Seller</button>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-1"></div>
                    <div class="col-md-6 bg-white shadow pt-2">
                        <div class="pl-1">
                            <h4>Description :</h4>
                            <hr>
                        </div>
                        <div class="mt-2 text-muted">
                            <p>
                                Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                                beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                                dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
                                ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
                                voluptas nulla pariatur?" 1914 translation by H. Rackham "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and
                                expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how
                                to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances
                                occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find
                                fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
                            </p>
                            <hr>
                            <div class=" container pt-3 pb-3" style="height:fit-content;display: flex;justify-content: center;">
                                <a href="tel:+" class="m-2">
                                    <i class="fa fa-phone fa-2x text-info"></i>
                                </a>
                                <a href="mailto:" class="m-2">
                                    <i class="fa fa-envelope fa-2x text-danger"></i>
                                </a>
                                <a href="" class="m-2">
                                    <i class="fa fa-facebook fa-2x text-primary"></i>
                                </a>
                                <a href="" class="m-2">
                                    <i class="fa fa-instagram fa-2x text-dark"></i>
                                </a>
                                <a href="" class="m-2">
                                    <i class="fa fa-whatsapp fa-2x text-success"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div class="loadingIcon">
            <img src="../assets/images/Infinity-1s-200px.svg" alt="">
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Message Seller</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <form class="form-group">
                                <div class="form-inline mb-2">
                                    <input type="text" class="form-control col mr-1 input-sm" placeholder="Name">
                                    <input type="text" class="form-control col mr-1 input-sm" placeholder="Email">
                                </div>
                                <textarea cols="30" class="form-control">Your Message</textarea>
                                <button type="submit" class="btn btn-primary btn-sm float-right mt-2">send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="mt-5">
            <div class="bg-dark">
                <div class=" container pt-5 pb-3" style="height:fit-content;display: flex;justify-content: space-around;">
                    <i class="fa fa-cc-visa fa-2x text-muted"></i>
                    <i class="fa fa-cc-amex fa-2x text-muted"></i>
                    <i class="fa fa-cc-mastercard fa-2x text-muted"></i>
                    <i class="fa fa-paypal fa-2x text-muted"></i>
                    <i class="fa fa-cc-discover fa-2x text-muted"></i>
                </div>
            </div>
            <div class="socials mt-5">
                <center>
                    <h6>You Can Reach US On Any Of Our Social Media Handles</h6>
                </center>
                <div class=" container pt-3 pb-3" style="height:fit-content;display: flex;justify-content: center;">
                    <a href="tel:+" class="m-2">
                        <i class="fa fa-phone fa-2x text-info"></i>
                    </a>
                    <a href="mailto:" class="m-2">
                        <i class="fa fa-envelope fa-2x text-danger"></i>
                    </a>
                    <a href="" class="m-2">
                        <i class="fa fa-facebook fa-2x text-primary"></i>
                    </a>
                    <a href="" class="m-2">
                        <i class="fa fa-instagram fa-2x text-dark"></i>
                    </a>
                    <a href="" class="m-2">
                        <i class="fa fa-whatsapp fa-2x text-success"></i>
                    </a>
                </div>
            </div>
            <div class="mt-5">
                <center>
                    <span><i class="fa fa-copyright text-white mr-2"></i>MsBoujeeLashes, LLC 2021</span>
                </center>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="../assets/javascript/Details.js"></script>
        <script src="../assets/javascript/loadingEffect.js"></script>
    </body>

</html>