<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="../assets/css/main.css" rel="stylesheet" type="text/css">
    <style>
        body {
            background-color: whitesmoke;
        }
        
        main {
            height: fit-content;
        }
    </style>

    <head>
        <title>msboujees 3D Lashes and human hair store</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <h5 class="navbar-brand offset-md-2 offset-sm-2" href="#" style="font-family:Lucida Bright;">
                Ms.BoujeeLashes&Hair
            </h5>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse offset-md-4" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <h6 class="nav-link"><a href="../">Home <span class="sr-only">(current)</span></a></h6>
                    </li>
                    <li class="nav-item">
                        <h6 class="nav-link"><a href="./category.html?cat=3D_Eyelashes">3D Lashes</a> </h6>
                    </li>
                    <li class="nav-item">
                        <h6 class="nav-link"><a href="./category.html?cat=Human_hair">Human Hair</a></h6>
                    </li>
                    <li class="nav-item">
                        <h6 class="nav-link"><a href="./about.html">About</a></h6>
                    </li>
                    <li class="nav-item">
                        <h6 class="nav-link"><a href="./login.html">Login</a></h6>
                    </li>
                </ul>
            </div>
        </nav>
        <main>

        </main>

        <div class="loadingIcon">
            <img src="../assets/images/Infinity-1s-200px.svg" alt="">
        </div>
        <!--message Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Message Seller</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <form class="form-group" method="POST" id="messageform">
                                <div id="alert2">

                                </div>
                                <div class="form-inline mb-2">
                                    <input type="text" id="yourname" class="form-control col mr-1 input-sm" placeholder="Name">
                                    <input type="text" id="youremail" class="form-control col mr-1 input-sm" placeholder="Email">
                                </div>
                                <textarea id="yourmessage" cols="30" class="form-control">Your Message</textarea>
                                <button type="submit" class="btn btn-primary btn-sm float-right mt-2" id="sendmssg">send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--message Modal -->

        <footer class="mt-5">
            <div class="bg-dark">
                <div class=" container pt-5 pb-3" style="height:fit-content;display: flex;justify-content: space-around;">
                    <i class="fa fa-cc-visa fa-2x text-muted"></i>
                    <i class="fa fa-cc-amex fa-2x text-muted"></i>
                    <i class="fa fa-cc-mastercard fa-2x text-muted"></i>
                    <i class="fa fa-paypal fa-2x text-muted"></i>
                    <i class="fa fa-cc-discover fa-2x text-muted"></i>
                </div>
            </div>
            <div class="socials mt-5">
                <center>
                    <h6>You Can Reach US On Any Of Our Social Media Handles</h6>
                </center>
                <div class=" container pt-3 pb-3" style="height:fit-content;display: flex;justify-content: center;" id="social">

                </div>
            </div>
            <div class="mt-5">
                <center>
                    <span><i class="fa fa-copyright text-white mr-2"></i>Ms.BoujeeLashes&Hair, LLC 2021</span>
                </center>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="../assets/javascript/loadingEffect.js"></script>
        <script src="../assets/javascript/Details.js"></script>
        <script>
            axios.get("../controller/sociallinks.php?action=fetch")
                .then(res => {
                    if (res.data.status === "success") {
                        const temp = `
                       <a href="tel:${res.data.sociallinks.phone}" class="m-2">
                        <i class="fa fa-phone fa-2x text-info"></i>
                    </a>
                    <a href="mailto:${res.data.sociallinks.email}" class="m-2">
                        <i class="fa fa-envelope fa-2x text-danger"></i>
                    </a>
                    <a href="${res.data.sociallinks.facebook}" class="m-2">
                        <i class="fa fa-facebook fa-2x text-primary"></i>
                    </a>
                    <a href="${res.data.sociallinks.instagram}" class="m-2">
                        <i class="fa fa-instagram fa-2x text-dark"></i>
                    </a>
                    <a href="${res.data.sociallinks.whatsapp}" class="m-2">
                        <i class="fa fa-whatsapp fa-2x text-success"></i>
                    </a>
                       `
                        $("#social").append(temp)
                    }
                })
                .catch(err => console.error(err))
        </script>
    </body>

</html>